body {
  background-image: url("../img/backg.png");
  background-size: 100%;
  background-attachment: fixed;
}

.navbar {
  font-family: serif;
  font-size: 20px;
}

.nav-link {
  margin-top: 10px;
}

.box {

  width: 1200px;
  height: 500px;
  margin: 30px 0px 0px 80px;
  background-color: rgba(0,0,0,0.5);

}

p {
  text-align: center;
  font-family: serif;
  font-size: 35px;
  color: white;
}

.par, .form-group {

  font-size: 20px;
  text-align: left;
  margin: 25px;
  color: white;

}

 .btn {
  left: 2%;
  position: relative;
}

.donation {
  font-size: 25px;
  text-align: left;
  margin-left: 25px;
}
