body {
  background-image: url("../img/backg.png");
  background-size: 100%;
  background-attachment: fixed;
}

.navbar {
  font-family: serif;
  font-size: 20px;
}

.nav-link {
  margin-top: 10px;
}

.fa {
  position: relative;
  left: 1050px;
  top: 50px;
  color: white;
}

.box {

  width: 1200px;
  height: 500px;
  margin: 30px 0px 0px 80px;
  background-color: rgba(0,0,0,0.5);

}

p {
  text-align: center;
  font-family: serif;
  font-size: 25px;
  color: white;
}

.par,{

  font-size: 20px;
  text-align: left;
  margin: 25px;
  color: white;

}

.ab {
  font-size: 35px;
}

.sr {
  left: 520px;
  position: relative;
  text-align: center;
  color: #67A867;
  font-family: serif;
  font-size: 25px;
}
